<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
</head>
<body>
    <h1>Sign in Below</h1>
    <form action="login" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <br>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit"  value="Login">
    </form>
</body>
</html>